{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Irish+Grover&display=swap" rel="stylesheet">
    <title>Mo's Tacos</title>
</head>
<body>
    <div class="login-page">
    <header>
        <img class="logo_img" src="{% static 'images/лого 2-Photoroom 1 (1).png' %}" alt="">
        <a href="{% url 'index' %}" class="logo-link">
            <div id='menu' class="logo">Mo's Tacos</div>
        </a>
    </header>

    <main>
        <div class="account-page">
            <div class="account-header">
                <h1>Личный кабинет</h1>
            </div>
            <div class="user-info">
                <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="account-actions">
                <a href="{% url 'logout' %}" class="account-btn">Выйти</a>
                <a href="{% url 'order_history' %}" class="account-btn">История заказов</a>
            </div>
        </div>        

    </main>
</div>
    <footer>
        <div id='contacts' class="footer-title">
            <h1>ПРИЯТНОГО АППЕТИТА</h1>
        </div>
        <div class="footer-content">
            <div class="footer-section">
                <h2>АДРЕС:</h2>
                <p>БОЛЬШАЯ САДОВАЯ., 17,<br>
                   ВОРОШИЛОВСКИЙ., 1,<br>
                </p>
            </div>
            <div class="footer-section">
                <h2>ЧАСЫ РАБОТЫ:</h2>
                <p>ПН-СР 12:00-00:00<br>
                   ЧТ 12:00-05:00<br>
                   ПТ-СБ 12:00-06:00<br>
                   ВС 12:00-00:00</p>
            </div>
            <div class="footer-section">
                <h2>КОНТАКТЫ:</h2>
                <p>ТЕЛЕФОН: 8-888-888-88-88<br>
                   EMAIL: MOSTACOS@GMAIL.COM</p>
            </div>
   </div> 
</footer>
<script src="{% static '/js/basket.js' %}"></script>
    <script src="{% static '/js/logpass.js' %}"></script>
</body>
</html>
