{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Irish+Grover&display=swap" rel="stylesheet">
    <title>Mo's Tacos</title>
</head>
<body>
    <div class="login-page">
    <header>
        <img class="logo_img" src="{% static 'images/лого 2-Photoroom 1 (1).png' %}" alt="">
        <a href="{% url 'index' %}" class="logo-link">
            <div id='menu' class="logo">Mo's Tacos</div>
        </a>
    </header>

    <main>
        <div class="auth-container">
            <h2>Регистрация</h2>
            <form method="post" class="auth-form">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
            
            <div class="auth-links">
                <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            </div>
        </div>
    </main>
</div>
    <footer>
        <div id='contacts' class="footer-title">
            <h1>ПРИЯТНОГО АППЕТИТА</h1>
        </div>
        <div class="footer-content">
            <div class="footer-section">
                <h2>АДРЕС:</h2>
                <p>БОЛЬШАЯ САДОВАЯ., 17,<br>
                   ВОРОШИЛОВСКИЙ., 1,<br>
                </p>
            </div>
            <div class="footer-section">
                <h2>ЧАСЫ РАБОТЫ:</h2>
                <p>ПН-СР 12:00-00:00<br>
                   ЧТ 12:00-05:00<br>
                   ПТ-СБ 12:00-06:00<br>
                   ВС 12:00-00:00</p>
            </div>
            <div class="footer-section">
                <h2>КОНТАКТЫ:</h2>
                <p>ТЕЛЕФОН: 8-888-888-88-88<br>
                   EMAIL: MOSTACOS@GMAIL.COM</p>
            </div>
   </div> 
</footer>
<script src="{% static '/js/basket.js' %}"></script>
    <script src="{% static '/js/logpass.js' %}"></script>
</body>
</html>
